Repository antoinecollet5/pyesmda: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, codespell, ruff, mypy

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length=88

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile
  - black
  - --filter-files

codespell:
  name: codespell
  entry: codespell
  language: system
  args:
  - docs tests
  - '*.py *.rst *.md'

ruff:
  name: ruff
  entry: ruff
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system

TEST: main.yml, use codecov/codecov-action@v5
  .github/workflows/main.yml
Due: none

Remove .editorconfig, update makefile, pyproject.toml, tox.ini
  .editorconfig
  Makefile
  pyproject.toml
  tox.ini
Due: none

STYLE: format with ty.
  .pre-commit-config.yaml
  tutorials/example_exponential.ipynb
  tutorials/requirements_tuto.txt
Due: none

ENH: use covmats.CovarianceMatrix for cov_obs
  .github/workflows/main.yml
  pyesmda/_base.py
  pyesmda/_esmda.py
  pyesmda/_esmda_dmc.py
  pyesmda/_esmda_rs.py
  pyesmda/_inversion.py
  pyesmda/_localization.py
  pyesmda/_utils.py
  tests/test_esmda.py
  tests/test_esmda_dmc.py
  tests/test_esmda_rs.py
  tests/test_utils.py
  tutorials/example_exponential.ipynb
Due: black, isort, codespell, ruff, mypy

DOCS: improve docuementation
  .readthedocs.yml
  CHANGELOG.rst
  bibliography.bib
  docs/sources/_templates/autosummary/base.rst
  docs/sources/_templates/autosummary/class.rst
  docs/sources/_templates/autosummary/module.rst
  docs/sources/_templates/class.rst
  docs/sources/_templates/custom-module-template.rst
  docs/sources/_templates/module.rst
  docs/sources/usage.rst
  pyesmda/__init__.py
  pyesmda/_base.py
  pyesmda/_esmda.py
  pyesmda/_esmda_dmc.py
  pyesmda/_esmda_rs.py
  pyesmda/_inversion.py
  pyesmda/_localization.py
  pyesmda/_utils.py
  tutorials/correlation_matrices_building.ipynb
Due: black, isort, codespell, ruff, mypy

FIX: tests
  tests/test_esmda.py
Due: black, isort, codespell, ruff

TEST: update test_esmad_exponential_case_batch
  tests/test_esmda.py
Due: black, isort, codespell, ruff

TEST: update pyproject.toml to skip assert warnings with codacy.
  pyproject.toml
Due: none

DOCS: update bibliography and add a theory section
  bibliography.bib
  docs/sources/index.rst
  docs/sources/theory.rst
Due: none

DOCS: add theory.rs and update bibliography
  bibliography.bib
  docs/sources/_static/esmda_dmc.png
  docs/sources/_static/esmda_rs.png
  docs/sources/_static/main_kalman_filters_evolutions.png
  docs/sources/conf.py
  docs/sources/theory.rst
  pyproject.toml
Due: black, isort, codespell, ruff

DOCS: update readme
  README.rst
Due: none

TEST: update pre-commit with all hooks in local.
  .pre-commit-config.yaml
  pyproject.toml
Due: none

FIX: optimizations in _inversion.py
  pyesmda/_inversion.py
Due: black, isort, codespell, ruff, mypy

FIX: remove np_cache that is not optimal + avoid computing twice the anomaly matrix in approximate_covariance_matrix_from_ensembles
  pyesmda/_utils.py
Due: black, isort, codespell, ruff, mypy

IMP: update types for np
  pyesmda/_utils.py
Due: black, isort, codespell, ruff, mypy

ENH: implement a possible failure for the ensemble members
  pyesmda/__init__.py
  pyesmda/_base.py
  pyesmda/_esmda.py
  pyesmda/_esmda_dmc.py
  pyesmda/_esmda_rs.py
Due: black, isort, codespell, ruff, mypy

ENH: update pyproject.toml
  pyproject.toml
Due: none

TEST: update action versions in main.yml
  .github/workflows/main.yml
Due: none

FIX: tests + rename in inversion type
  README.rst
  pyesmda/_inversion.py
  tests/test_esmda.py
  tests/test_esmda_dmc.py
  tests/test_esmda_rs.py
  tutorials/example_exponential.ipynb
Due: black, isort, codespell, ruff, mypy

DOCS: improve docstrings in _localization.py
  pyesmda/_localization.py
Due: black, isort, codespell, ruff, mypy

ENH: try to fix failing tests
  tests/test_esmda.py
Due: black, isort, codespell, ruff

FIX: update covmats version to get fix on cached attributes
  pyproject.toml
Due: none

FIX: test, remove _invD that was removed from covmats in 0.3.1
  tests/test_esmda.py
Due: black, isort, codespell, ruff

FIX: CovViaDiagonal - make derived quantities lazy to avoid stale/missing cache
  pyesmda/_base.py
  pyesmda/_inversion.py
Due: black, isort, codespell, ruff, mypy

FIX: by pass issue in test
  tests/test_esmda.py
Due: black, isort, codespell, ruff

ENH: add SPDX License Identifier
  .github/workflows/main.yml
  _static/cov_obs.png
  _static/obs_perturbation.png
  _static/ref_vs_ig.png
  pyesmda/__about__.py
  pyesmda/__init__.py
  pyesmda/_base.py
  pyesmda/_esmda.py
  pyesmda/_esmda_dmc.py
  pyesmda/_esmda_rs.py
  pyesmda/_inversion.py
  pyesmda/_localization.py
  pyesmda/_utils.py
  tests/__init__.py
  tests/test_esmda.py
  tests/test_esmda_dmc.py
  tests/test_esmda_rs.py
  tests/test_inversion.py
  tests/test_localization.py
  tests/test_utils.py
Due: black, isort, codespell, ruff, mypy

ENH: trying to use joblib to fix the multiprocessing issues
  pyesmda/_base.py
  tests/test_esmda.py
Due: black, isort, codespell, ruff, mypy

FIX: add joblib as a dependency
  pyproject.toml
Due: none

FIX: "covmats>=0.3.2"
  pyproject.toml
Due: none

FIX: test esmda
  tests/test_esmda.py
Due: black, isort, codespell, ruff

ENH: _inversion.py
  pyesmda/_inversion.py
  tests/test_inversion.py
Due: black, isort, codespell, ruff, mypy

TEST: _localization + improvements on incompatibility warnings for different inversion types
  pyesmda/_base.py
  pyesmda/_inversion.py
  pyesmda/_localization.py
  tests/test_esmda.py
  tests/test_localization.py
Due: black, isort, codespell, ruff, mypy

ENH: try to fix tests
  tests/test_esmda.py
Due: black, isort, codespell, ruff

DOCS: add 2D example
  README.rst
  _static/post_diag_comp.png
  _static/post_diag_comp_ens.png
  _static/post_realizations.png
  _static/post_realizations2.png
  _static/ref_vs_post_inv.png
  docs/sources/theory.rst
  pyproject.toml
  tutorials/2d_toy_example.ipynb
Due: none

ENH: add tests for failed members support. Reach 100% coverage + correct add hoc behaviors (m_prior vs m_posterior) + update readme and notebooks with 2D examples
  README.rst
  pyesmda/_base.py
  pyesmda/_esmda.py
  pyesmda/_esmda_dmc.py
  pyesmda/_esmda_rs.py
  pyesmda/_inversion.py
  pyesmda/_utils.py
  tests/test_esmda.py
  tests/test_esmda_dmc.py
  tests/test_esmda_rs.py
  tests/test_utils.py
  tutorials/2d_toy_example.ipynb
  tutorials/example_exponential.ipynb
Due: black, isort, codespell, ruff, mypy

TEST: github actions to v7
  .github/workflows/main.yml
Due: none

v1.0.0
  CHANGELOG.rst
  docs/sources/tutorials/example_2d_toy_example.nblink
  docs/sources/usage.rst
  pyesmda/__about__.py
Due: black, isort, codespell, ruff, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  codespell: any of: \.py$, but not: (?x)^(
    bibliography.bib
)$

  ruff: any of: \.py$
  mypy: any of: \.py$, but not: (?x)(
    ^tests/|
    ^docs/
)

